In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [6]:
df = pd.DataFrame({
    "Name":["Yossi", "Anna", "Alexey"],
    "Color": ["Red", "Blue", "Yellow"],
    "Random": [10.0, np.nan, np.nan]
})

In [7]:
df = pd.DataFrame({
    "Name":["Yossi", "Anna", "Alexey"],
    "Color": ["Red", "Blue", "Yellow"],
    "Random": [10.0, np.nan, np.nan]
})

In [8]:
df

     Name   Color  Random
0   Yossi     Red    10.0
1    Anna    Blue     NaN
2  Alexey  Yellow     NaN

In [11]:
df["Random"]

0    10.0
1     NaN
2     NaN
Name: Random, dtype: float64

In [13]:
df2 = pd.DataFrame({
"Apples": [20],
"Bananas": [30],
"Cherries": [15],
"Dates": [10]
})

In [14]:
df2

   Apples  Bananas  Cherries  Dates
0      20       30        15     10

In [17]:
my_series = pd.Series([20,30,15,10], index=["Apples","Bananas","Cherries","Dates"])

In [19]:
my_series

Apples      20
Bananas     30
Cherries    15
Dates       10
dtype: int64

In [26]:
fruit_names = ["Apples","Bananas","Cherries","Dates"]
quantities = [20,30,15,10]
colors = ['Red', 'Yellow', 'Red', 'Brown']
prices_per_kg = [3,2,4,5]

my_df = pd.DataFrame({
    'Quantity' : quantities,
    'Color' : colors,
    'Price_per_kg' : prices_per_kg
    
},index=fruit_names)

In [22]:
my_df

   Quantity   Color  Price_per_kg
0        20     Red             3
1        30  Yellow             2
2        15     Red             4
3        10   Brown             5

In [27]:
my_df.loc['Apples']

Quantity         20
Color           Red
Price_per_kg      3
Name: Apples, dtype: object