In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [6]:
df = pd.DataFrame({
    "Name":["Yossi", "Anna", "Alexey"],
    "Color": ["Red", "Blue", "Yellow"],
    "Random": [10.0, np.nan, np.nan]
})

In [7]:
df = pd.DataFrame({
    "Name":["Yossi", "Anna", "Alexey"],
    "Color": ["Red", "Blue", "Yellow"],
    "Random": [10.0, np.nan, np.nan]
})

In [8]:
df

     Name   Color  Random
0   Yossi     Red    10.0
1    Anna    Blue     NaN
2  Alexey  Yellow     NaN

In [11]:
df["Random"]

0    10.0
1     NaN
2     NaN
Name: Random, dtype: float64

In [13]:
df2 = pd.DataFrame({
"Apples": [20],
"Bananas": [30],
"Cherries": [15],
"Dates": [10]
})

In [14]:
df2

   Apples  Bananas  Cherries  Dates
0      20       30        15     10

In [ ]:
pd.Series(["Apples":20,"Bananas":20,"Cherries": 15, "Dates": 10])